{% set cur = page.number %}
{% set total = paginator.num_pages %}
{% set indexs = paginator.page_range[cur - 3 if cur - 3 >= 0 else 0: cur + 3 if cur + 3 <= total else total] %}

{% if paginator.num_pages %}
<div class="pagination-wrap text-center">
    <ul class="pagination">
        {% if page.has_previous() %}
            <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number()}}">&lt;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">&lt;</a></li>
        {% endif %}

        {% if 1 not in indexs and 2 not in indexs%}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        {% endif %}

        {% for p in indexs %}
            {% if p == page.number %}
                <li class="page-item active"><a class="page-link">{{p}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
            {% endif %}
        {% endfor %}

        {% if total not in indexs and (total-1) not in indexs %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="?page={{total}}">{{total}}</a></li>
        {% endif %}

        {% if page.has_next() %}
            <li class="page-item"><a class="page-link" href="?page={{page.next_page_number()}}">&gt;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">&gt;</a></li>
        {% endif %}
    </ul>
</div>
<script src="/static/tabler/js/pagination.js"></script>
{% endif %}
